<!DOCTYPE html>
<html lang="en" ng-app="toad">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="./css/main.css">
  <title>Toad Tunes</title>
  <script src="https://www.youtube.com/iframe_api"></script> 
  <script>
  (function(window){
    'use strict';
    console.log('setup player');
    window._player = null;
    window.onYouTubeIframeAPIReady = onYouTubeIframeAPIReady;
    window.onPlayerReady = onPlayerReady;
    window.onYoutubePlayerReady = onYoutubePlayerReady;

    function onYouTubeIframeAPIReady () {
      console.log('video loaded! (set to window object)');
      window._player = new YT.Player('toad-vid');
    }

    function onYoutubePlayerReady (id) {
      console.log('player with this id is ready: ', id);
    }
    
    function onPlayerReady (event) {
      console.log('onPlayerReady');
      event.target.playVideo();
    }
  }(window));
  </script>
  <script src='./js/app.js'></script>
</head>
<body ng-controller='toadEditor'>

  <h1 class="toadHeader"> toad tunes. </h1>
  <div class="toadEditor">
    <textarea ng-model="songEdit"></textarea>
  </div>
  <div class="toadContainer">

    <div class="toadPlaylist">
    
      <ul>
        <li ng-repeat="song in songList">
          <a class="toadSong" ng-bind="song.title" ng-click='setSong(song)'></a>
        </li>
      </ul>
    </div>

    <div class="toadPlayer">
      <toad-tunes notes="{{songEdit}}" bpm="100"></toad-tunes>
    </div>
  </div>


</body>
</html>
